<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active"><%= @post.title %></li>
<% end %>

<%= render "form", post: @post %>

<hr />

<%= button_to "Delete", admin_post_path(@post), method: :delete, class: "btn btn-danger" %>
