@import url(props.css);
@import url(article.css);

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: calc(1rem * pow(var(--ratio), 1));
}

.p-0 {
  padding: 0;
}

.text-right {
  text-align: right;
}

.stack {
  > * + * {
    margin-top: calc(1rem * pow(var(--ratio), 1)) !important;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: var(--ratio);
  background-color: var(--color-sumi);
  color: var(--color-sumi);
}

h1 {
  font-size: calc(1rem * pow(var(--ratio), 2));
}

a {
  color: var(--color-sumi);
  text-decoration-color: color-mix(in hsl, white 50%, var(--color-sumi));
}

hr {
  border-color: var(--color-sumi);
  border-width: calc(1rem * pow(var(--ratio), -2) / 2);
}

.container {
  max-width: 100ch;
  background-color: var(--color-bg);
  margin: 0 auto;
  padding: calc(1rem * pow(var(--ratio), 1));
}
