article {
  h1 {
    margin-top: calc(1rem * pow(var(--ratio), 1));
    margin-bottom: calc(1rem * pow(var(--ratio), 0));
    font-size: calc(1rem * pow(var(--ratio), 1.5));
  }

  h2 {
    margin-top: calc(1rem * pow(var(--ratio), 0));
    margin-bottom: calc(1rem * pow(var(--ratio), -1));
    font-size: calc(1rem * pow(var(--ratio), 1));
  }

  p {
    margin-top: calc(1rem * pow(var(--ratio), -1));
    margin-bottom: calc(1rem * pow(var(--ratio), -1));
  }

  pre {
    padding: calc(1rem * pow(var(--ratio), 0));
    font-size: calc(1rem * pow(var(--ratio), 0));
  }

  blockquote {
    margin: calc(1rem * pow(var(--ratio), 0)) 0;
    padding: calc(1rem * pow(var(--ratio), -2)) calc(1rem * pow(var(--ratio), -1));
    border-left: calc(1rem * pow(var(--ratio), -2)) solid color-mix(in hsl, white 50%, var(--color-sumi));
    color: color-mix(in hsl, white 15%, var(--color-sumi));
    font-style: italic;

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 100%;
  }
}
